body{
    margin: 0px;
    font-family: 'Arimo', sans-serif;
}
/* nav related style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem  8.43rem 0rem;
}
nav img{
    width: 15rem;
    height: 3rem;
}
ul{
    display: flex;
    gap: 2.5rem;   
}
ol{
    display: flex;
    gap: 1.38rem;
    align-items: center;
}
li{
    list-style: none;
    color: #000;
}
a{
    text-decoration: none;
    color: #000;
}
nav button{
    padding: 10px 30px;
    border: none;
    color: #FFF;
}
.primary-color{
    border-radius: 10px;
    background: #F60;
}
.common-font{
    font-size: 18px;
    font-weight: 500;
}
/* Bannar related sttyle */
.bannar{
    display: flex;
    margin-left: 8.43rem;
}
h1{
    color: #0B1B35;
    font-size: 70px;
    font-weight: 850;
    margin: 0px;
    margin-top: 7.13rem;
}
.bannar p{
    color: #000;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 3.75rem;
}
.bannar-img{
    width: 44.19rem;
    height: 38.63rem;
    margin-top: 6rem;
}
.bannar-div{
    display: flex;
    align-items: center;
}
.bannar-div button{
    padding: 10px 34px;
    border: none;
    color: #FFF;
    margin-right:1.75rem ;
}
.bannar-div img{
    width: 3.13rem;
    height: 3.75rem;
    margin-right:1.56rem ;
}
.bannar-div h2{
    color: #000;
    font-size: 18px;
    font-weight: 700;
}
/* Vison and Goal related style */
h4{
    text-align: center;
}
.title{
    text-align: center;
}
.vison-goal-container{
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin: 0rem 8.43rem;
}
.vison-goal-container img{
    width: 4.7rem;
    height: 4.7rem;
}
.column{
    margin-bottom: 11.31rem;
    margin-top: 6.25rem;
    width: 22rem;
    padding: 1.89rem 2.5rem 2.81rem;
    border-radius: 28px;
    text-align: center;
    background: #FFF;
    box-shadow: 1px 1px 40px rgb(174, 170, 170);
}
.column h3{
    color: #000;
    font-size: 36px;
    font-weight: 700;
}
h4{
    color: #8A898E;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 6.3px;
}
.column p{
    color: #000;
    font-size: 18px;
    font-weight: 400;
}
.column button{
    border: none;
    padding: 11px 36px 9px;
    color: #FFF;
}
/* Blocks section related style */
.blocks{
    display: flex;
    justify-content: space-around;  
    align-items: center;
    margin-bottom: 9.125rem;
}
.blocks img{
    width: 42.97rem;
    height: 24.123rem;
}
.blocks h3{
    color: #1E0E62;
    font-size: 22px;
    font-weight: 500;
}
.blocks p{
    color:  #15143966;
    font-size: 16px;
    font-weight: 400;
}
.blocks button{
    color:  #1E0E62;
    background-color: #FFF;
    padding: 13px 38px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid gray;
    border-radius: 40px;
    margin-top: 72px;
}





/* Responsive Media query */
/* smaller device */
@media screen and (max-width: 576px){
/* Make Nav and Bannar responsive */
    nav{
        flex-direction: column;
        margin: 0px;
    }
    nav img{
        margin-top: 30px;
    }
    h1{
        font-size: 60px;
    }
    ul{
        gap: 1.25rem;
    }
    .bannar{
        flex-direction: column;
        margin: 0px;
        text-align: center;
    }
    .bannar p{
        font-size: 20px;
    }
    .bannar-div{
        justify-content: center;
    }
    .bannar-img{
        width: 100%;
        height: 100%;
    }
/* Vison and Goal section */
    .title{
        margin-bottom: 50px;
    }
    .column{
        margin: 0px;
        margin: 0px auto;       
    }
    .vison-goal-container{
        margin: 0px;
        flex-direction: column;
    }
/* Blocks section */
    .blocks{
        flex-direction: column;
        text-align: center;
    }
    .blocks img{
        width: 100%;
        height: 100%;
        margin: 0px auto;
    }
    .blocks h3{
        margin-top: 100px;
    }
    .blocks button{
        margin: 0px;
        margin-bottom: 30px;
    }
}
/* Mediam device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    nav{
        margin: 0px;
        margin-top: 30px;
        margin-left: 20px;
        justify-content: space-evenly;
    }
    ul{
        gap: 1.25rem;
    }
    nav img{
        margin-left: 10px;
    }
    nav button{
        margin-right: 10px;
    }
    .common-font{
        font-size: 15px;
    }   
    .bannar{
        flex-direction: column;
        text-align: center;
        margin: 0px;
    }
    h1{
        font-size: 60px;
    }
    .bannar-div{
        justify-content: center;
    }
    .bannar-img{
        width: 100%;
        height: 100%;
    }
/* Vison and Goal section */
    .title{
        margin-bottom: 50px;
    }
    .column{
        margin: 0px;
        margin: 0px auto;       
    }
    .vison-goal-container{
        margin: 0px;
        flex-direction: column;
    }
    /* Blocks section */
    .blocks{
        flex-direction: column;
        text-align: center;
    }
    .blocks img{
        width: 100%;
        height: 100%;
        margin: 0px auto;
    }
    .blocks h3{
        margin-top: 100px;
    }
    .blocks button{
        margin: 0px;
        margin-bottom: 30px;
    }
}